# Never Push The ".env" File To GitHub (Your Discord BOT and/or OpenAI Account Might Get Compromised)

# ---------------------------------------:Environment Variables:------------------------------------
# --------------------------------------------------------------------------------------------------
# Discord BOT Credentials from "Discord Developer Portal"
DISCORD_CLIENT_ID=1076196346811383940
DISCORD_BOT_TOKEN=MTA3NjE5NjM0NjgxMTM4Mzk0MA.G7iIQB.4smM69fs_AvqCOPOuLuUNuvf61_jq9xnLu3xl4


# --------------------------------------------------------------------------------------------------
# For 'Google' login type provide the Gmail-ID and the google account password of the Gmail-ID
# For 'OpenAI' login type provide the email and password associated with your OpenAI account
EMAIL=discordbotcolyangolub@gmail.com
PASSWORD=QdHCVVFZ6myQ


# --------------------------------------------------------------------------------------------------
# Login Type ( Value: 'google' or 'openai' )
LOGIN_TYPE=openai


# --------------------------------------------------------------------------------------------------
# ChatGPT Account Type ( Value: 'free' or 'pro' )
ACCOUNT_TYPE=free

# --------------------------------------------------------------------------------------------------
# Bot Typing Effect i.e Stream ChatGPT response in real-time ( Value: 'true' or 'false' )
# TYPING_EFFECT=true

# --------------------------------------------------------------------------------------------------
# Change these if you know what you're doing
DISCORD_MAX_RESPONSE_LENGTH=2000
UWU=true
CHATGPT_INITIAL_PROMPT=hi